:host {
  display: block;
}


.mainExperienceContainer{
  display: grid;
  grid-template-columns: 30% 75%;
  width: 95%;
  margin: 5vh auto 20px auto;
  padding: 4.5% 2.5%;
  background-color: var(--whiteBone-home-color);
  align-items: flex-start;
  justify-content: flex-start;
}

.mainExperienceContainer  .leftDescription{
  color: var(--blueDark3-home-color);
  font-family: "Playfair Display", serif;
}

.mainExperienceContainer  .leftDescription .title{
  font-weight: 800;
  font-size: 2em;
}

.mainExperienceContainer  .leftDescription .subTitle{
  font-weight: 400;
  font-size: 1em;
  color: #555555;
}


.mainExperienceContainer .experienceTable{
  width: 90%;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  padding: 0 2.5%;
  font-family: 'Nippo Variable', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.mainExperienceContainer .experienceTable > div:nth-child(-n+3){
  font-weight: 800;
}

.mainExperienceContainer .experienceTable > div{
  margin-bottom: 8px;
}