:host{
    --blueDark1-home-color: #0B1215;
    --blueDark2-home-color: #1A2533;
    --whiteBone-home-color: #FAF9F6;
    --blueFont-color: #2F3651;
    --bluegray-color: #3C3D50;
    --blueLinkedIn-color: #3357CC;
}