@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Podkova:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@font-face {
    font-family: 'Fugaz One';
    src: url('../static/fonts/FugazOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
  font-family: 'Futura Hv BT';
  src: url('../static/fonts/Futura-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Nippo Variable';
  src: url('../static/fonts/Nippo-Variable.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

  
/* 
    font-family: "Inter", sans-serif;

    font-family: "Freeman", sans-serif;

    font-family: "Fugaz One", sans-serif;

    font-family: "Podkova", serif;
    font-optical-sizing: auto;

    font-family: "Poppins", sans-serif;

    font-family: "Playfair Display", serif;

    font-family: "Neuton", serif;
  } */
  