:host {
  display: block;
}


.mainAboutContainer{
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 68vh;
  max-height: 80vh;
  width: 90%;
  color: #d9d9d9;
  margin: 50px auto 15vh auto;
  overflow: hidden;
}



.mainAboutContainer .leftDescription{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100%;
  max-height: 100%;
  width: 60%;
  z-index: 16;
}

.mainAboutContainer .leftDescription .title{
  width: 60%;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
}

.mainAboutContainer .leftDescription .textDescription{
  width: 60%;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  text-align: left;
  margin: 20px 0 80px 0;
}


.mainAboutContainer .leftDescription .textDescription span{
  font-weight: 800;
}



.mainAboutContainer .rightPhoto{
  position: absolute;
  height: 65vh;
  max-height: 65vh;
  aspect-ratio: 0.666 / 1;
  /* background-color: #f00f0055; */
  background: url('/portifoliov4/static/imgs/perfilPhotoAbout.png') no-repeat center/contain;
  border-radius: 5px;
  transform: translateX(50%);
  z-index: 14;
  /* border: 1px solid var(--whiteBone-home-color); */
}




/* RESPONSIBLE */

.mainAboutContainer.responsiveMobile{
  flex-direction: column-reverse;
  max-height: unset;
  margin: 50px auto 0px auto;
}


.mainAboutContainer.responsiveMobile .leftDescription{
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

.mainAboutContainer.responsiveMobile .leftDescription .textDescription{
  width: 95%;
  text-align: left;
  margin: 0px auto 20px auto;
}


.mainAboutContainer.responsiveMobile .rightPhoto{
  position: relative;
  height: auto;
  max-height: unset;
  width: 80%;
  aspect-ratio: 0.666 /1 ;
  transform: translateX(0%);
  margin: 0 auto;
}