:host {
  display: block;
  --topPath: "M 0,0 L 100,0 L 80,100 L 20,100 L 0,0"
}

:host .homePageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--whiteBone-home-color);
  overflow: auto;
}

:host .mainShapeContent{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 98%;
  min-height: 100vh;
  margin-top: 1vh;
  background-color: var(--blueDark3-home-color);
  border-radius: 25px 25px 0 0 ;
}



/* InitialView */
.InitialView{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* CANVA */
.mainShapeContent .canvaMain{
  position: absolute;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: 5;
  border-radius: 25px;
}






/* TOP PATH */

:host .topPath{
  position: absolute;
  top: 0;
  left: calc(35%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height: 50px;
  background-color: var(--whiteBone-home-color);
  clip-path: path(var(--topPath));
  z-index: 10;
}


:host .topPath .namePortfolio{
  position: relative;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: var(--blueFont-color);
  font-size: 1.7em;
  padding: 0;
  margin: 0;
  user-select: none;
  z-index: 10;
}








/* LEFT PATH */

:host .leftPath{
  position: absolute;
  top: calc(35%);
  left: 0;
  width: 60px;
  height: 30vh;
  background-color: var(--whiteBone-home-color);
  clip-path: path(var(--leftPath));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}


:host .leftPath .socials{
  width: 90%;
  height: fit-content;
}

:host .leftPath .socials .emailCircle,
:host .leftPath .socials .linkedInIcon,
:host .leftPath .socials .gitIcon{
  width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--blueFont-color); 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

:host .leftPath .socials .emailCircle div{
  width: 30px;
  aspect-ratio: 1/1;
  background: url('../../static/imgs/emailIcon.png') no-repeat center/contain;
}



:host .leftPath .social2Group{
  margin-top: 10px;
}


:host .leftPath .socials .linkedInIcon
{
  background-color: var(--blueLinkedIn-color);
  border-radius: 50% 50% 0 0;
}

:host .leftPath .socials .gitIcon
{
  border-radius: 0 0 50% 50%;
}


:host .leftPath .socials .linkedInIcon div{
  width: 25px;
  aspect-ratio: 1/1;
  background: url('../../static/imgs/linkedInIcon.png') no-repeat center/contain;
}

:host .leftPath .socials .gitIcon div{
  width: 25px;
  aspect-ratio: 1/1;
  background: url('../../static/imgs/githubIcon.png') no-repeat center/contain;
}





/* RIGHT PATH */
:host .rightPath{
  position: absolute;
  top: calc(41%);
  right: 0;
  width: 23%;
  height: 17vh;
  background-color: var(--whiteBone-home-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  z-index: 10;
}

:host .bordText{
  width: 92%;
  font-family: 'Futura Hv BT', sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  color: var(--bluegray-color);
  user-select: none;
}








/* Main Content Desc */


.mainContentDescrpt{
  position: relative;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  width: 100%;
  height: calc(90vh - 50px);
  z-index: 10;
}


.mainContentDescrpt .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin-left: 10%;
}

.mainContentDescrpt .left .textProfission{
  font-family: "Inter", sans-serif;
  color: var(--whiteBone-home-color);
  font-size: 2.5em;
}


.mainContentDescrpt .left .curriculumBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  background-color: #000000;
  border: 2px solid var(--whiteBone-home-color);
  margin-top: 30px;
  cursor: pointer;
}

.mainContentDescrpt .left .curriculumBtn .text{
  width: 75%;
  margin-left: 15%;
  color: var(--whiteBone-home-color);
  font-family: 'Futura Hv BT', sans-serif;
  font-weight: 800;
  font-size: 1.1em;
  z-index: 2;
}

.mainContentDescrpt .left .curriculumBtn .arrow{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: var(--whiteBone-home-color);
  z-index: 5;
  padding-left: 5%;
}


.mainContentDescrpt .left .curriculumBtn .arrow .lineArrow{
  position: absolute;
  right: 20px;
  width: 40px;
  height: 4px;
  background-color: #000000;
}


.mainContentDescrpt .left .curriculumBtn .arrow .pointArrow{
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-width: 4px 4px 0 0;
  transform: rotate(45deg);
}


.mainContentDescrpt .center{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.mainContentDescrpt .center .perfilPhoto{
  width: 80%;
  height: 80%;
  background: url('../../static/imgs/perfilPhoto.png') no-repeat center/contain;
}

.homePageContent .projectComponent{
  width: 100%;
}






/* HABILIDADE */

.homePageContent .habilidadeComponent{
  width: 100%;
}